@model Acme.ProductSelling.Specifications.CaseSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Case:SupportedMbFormFactor"]</th>
            <td>
                @Model.SupportedMbFormFactor
            </td>
        </tr>
        <tr>
            <th>@L["Product:Case:Color"]</th>
            <td>
                @Model.Color
            </td>
        </tr>
        <tr>
            <th>@L["Product:Case:MaxCpuCoolerHeight"]</th>
            <td>
                @Model.MaxCpuCoolerHeight
            </td>
        </tr>
        <tr>
            <th>@L["Product:Case:MaxGpuLength"]</th>
            <td>
                @Model.MaxGpuLength
            </td>
        </tr>
    </tbody>
</table>