@model Acme.ProductSelling.Specifications.CpuSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<h5>@L["CPU Details"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Socket"]</th>
            <td>@Model.Socket</td>
        </tr>
        <tr>
            <th>@L["CoresThreads"]</th>
            <td>@Model.CoreCount / @Model.ThreadCount</td>
        </tr>
        <tr>
            <th>@L["BaseBoostClock"]</th>
            <td>@Model.BaseClock GHz / @Model.BoostClock GHz</td>
        </tr>
        <tr>
            <th>@L["L3Cache"]</th>
            <td>@Model.L3Cache MB</td>
        </tr>
        <tr>
            <th>@L["TDP"]</th>
            <td>@Model.Tdp W</td>
        </tr>
        <tr>
            <th>@L["IntegratedGraphics"]</th>
            <td>@L[Model.HasIntegratedGraphics ? "Yes" : "No"]</td>
        </tr>
    </tbody>
</table>
