@model Acme.ProductSelling.Specifications.CpuCoolerSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["CoolerType"]</th>
            <td>@Model.CoolerType</td>
        </tr>
        <tr>
            <th>@L["Color"]</th>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <th>@L["FanSize"]</th>
            <td>@Model.FanSize</td>
        </tr>
        <tr>
            <th>@L["Height"]</th>
            <td>@Model.Height</td>
        </tr>
        <tr>
            <th>@L["TdpSupport"]</th>
            <td>@Model.TdpSupport</td>
        </tr>
        <tr>
            <th>@L["SupportedSockets"]</th>
            <td>@Model.SupportedSockets</td>
        </tr>
        <tr>
            <th>@L["RadiatorSize"]</th>
            <td>@Model.RadiatorSize</td>
        </tr>
        <tr>
            <th>@L["NoiseLevel"]</th>
            <td>@Model.NoiseLevel</td>
        </tr>
        <tr>
            <th>@L["LedLighting"]</th>
            <td>@Model.LedLighting</td>
        </tr>

    </tbody>
</table>
