
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L
@model Acme.ProductSelling.Specifications.KeyboardSpecificationDto

<h5>@L["Keyboard Details"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Connectivity"]</th>
            <td>@Model.Connectivity</td>
        </tr>
        <tr>
            <th>@L["SwitchType"]</th>
            <td>@Model.SwitchType</td>
        </tr>
        <tr>
            <th>@L["KeyboardType"]</th>
            <td>@Model.KeyboardType</td>
        </tr>
        <tr>
            <th>@L["Layout"]</th>
            <td>@Model.Layout</td>
        </tr>
        <tr>
            <th>@L["Backlight"]</th>
            <td>@Model.Backlight</td>
        </tr>
    </tbody>
</table>
