@model Acme.ProductSelling.Specifications.LaptopSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<h5>@L["Laptop Details"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["RAM"]</th>
            <td>@Model.RAM</td>
        </tr>
        <tr>
            <th>@L["CPU"]</th>
            <td>@Model.CPU</td>
        </tr>
        <tr>
            <th>@L["Display"]</th>
            <td>@Model.Display</td>
        </tr>
        <tr>
            <th>@L["BatteryLife"]</th>
            <td>@Model.BatteryLife</td>
        </tr>
        <tr>
            <th>@L["Weight"]</th>
            <td>@Model.Weight</td>
        </tr>
        <tr>
            <th>@L["GraphicsCard"]</th>
            <td>@Model.GraphicsCard</td>
        </tr>
        <tr>
            <th>@L["Warranty"]</th>
            <td>@Model.Warranty</td>
        </tr>
        <tr>
            <th>@L["Storage"]</th>
            <td>@Model.Storage</td>
        </tr>
        <tr>
            <th>@L["OperatingSystem"]</th>
            <td>@Model.OperatingSystem</td>
        </tr>
    </tbody>
</table>
