@model Acme.ProductSelling.Specifications.MonitorSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

    <h5>@L["Monitor Details"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["RefreshRate"]</th>
            <td>@Model.RefreshRate Hz</td>
        </tr>
        <tr>
            <th>@L["Resolution"]</th>
            <td>@Model.Resolution</td>
        </tr>
        <tr>
            <th>@L["ScreenSize"]</th>
            <td>@Model.ScreenSize inches</td>
        </tr>
        <tr>
            <th>@L["ResponseTime"]</th>
            <td>@Model.ResponseTime ms</td>
        </tr>
        <tr>
            <th>@L["PanelType"]</th>
            <td>@Model.PanelType</td>
        </tr>
        <tr>
            <th>@L["ResponseTimeMs"]</th>
            <td>@Model.ResponseTimeMs ms</td>
        </tr>
        <tr>
            <th>@L["ColorGamut"]</th>
            <td>@Model.ColorGamut</td>
        </tr>
        <tr>
            <th>@L["Brightness"]</th>
            <td>@Model.Brightness nits</td>
        </tr>
        <tr>
            <th>@L["VesaMount"]</th>
            <td>@L[Model.VesaMount ? "Yes" : "No"]</td>
        </tr>
    </tbody>
</table>
