@model Acme.ProductSelling.Specifications.MotherboardSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Motherboard:Socket"]</th>
            <td>@Model.SocketName</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:Chipset"]</th>
            <td>@Model.ChipsetName</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:RAMSlots"]</th>
            <td>@Model.RamSlots</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:MaxRam"]</th>
            <td>@Model.MaxRam GB</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:FormFactor"]</th>
            <td>@Model.FormFactorName</td>
        </tr>
@*         <tr>
            <th>@L["Product:Motherboard:StorageSlots"]</th>
            <td>@Model.Stor</td>
        </tr> *@
        <tr>
            <th>@L["Product:Motherboard:SupportedRamType"]</th>
            <td>@Model.SupportedRamTypeName</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:HasWifi"]</th>
            <td>@(Model.HasWifi ? L["Product:Yes"] : L["Product:No"])</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:SataPorts"]</th>
            <td>@Model.SataPorts</td>
        </tr>
        <tr>
            <th>@L["Product:Motherboard:M2Slots"]</th>
            <td>@Model.M2Slots</td>
        </tr>
    </tbody>
</table>
