@model Acme.ProductSelling.Specifications.MotherboardSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<h5>@L["MotherboardDetail"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Socket"]</th>
            <td>@Model.Socket</td>
        </tr>
        <tr>
            <th>@L["Chipset"]</th>
            <td>@Model.Chipset</td>
        </tr>
        <tr>
            <th>@L["RAMSlots"]</th>
            <td>@Model.RamSlots</td>
        </tr>
        <tr>
            <th>@L["MaxRam"]</th>
            <td>@Model.MaxRam GB</td>
        </tr>
        <tr>
            <th>@L["FormFactor"]</th>
            <td>@Model.FormFactor</td>
        </tr>
@*         <tr>
            <th>@L["StorageSlots"]</th>
            <td>@Model.Stor</td>
        </tr> *@
        <tr>
            <th>@L["SupportedRamType"]</th>
            <td>@Model.SupportedRamType</td>
        </tr>
        <tr>
            <th>@L["HasWifi"]</th>
            <td>@(Model.HasWifi ? L["Yes"] : L["No"])</td>
        </tr>
        <tr>
            <th>@L["SataPorts"]</th>
            <td>@Model.SataPorts</td>
        </tr>
        <tr>
            <th>@L["M2Slots"]</th>
            <td>@Model.M2Slots</td>
        </tr>
    </tbody>
</table>
