@model Acme.ProductSelling.Specifications.MouseSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<h5>@L["Mouse Details"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["DPI"]</th>
            <td>@Model.Dpi</td>
        </tr>
        <tr>
            <th>@L["ButtonCount"]</th>
            <td>@Model.ButtonCount</td>
        </tr>
        <tr>
            <th>@L["PollingRate"]</th>
            <td>@Model.PollingRate Hz</td>
        </tr>
        <tr>
            <th>@L["SensorType"]</th>
            <td>@Model.SensorType</td>
        </tr>
        <tr>
            <th>@L["Weight"]</th>
            <td>@Model.Weight g</td>
        </tr>
        <tr>
            <th>@L["Connectivity"]</th>
            <td>@Model.Connectivity</td>
        </tr>
        <tr>
            <th>@L["Color"]</th>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <th>@L["BacklightColor"]</th>
            <td>@Model.BacklightColor</td>
        </tr>
    </tbody>
</table>


