@model Acme.ProductSelling.Specifications.PsuSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<h5>@L["PSU Details"]</h5>

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Wattage"]</th>
            <td>@Model.Wattage W</td>
        </tr>
        <tr>
            <th>@L["EfficiencyRating"]</th>
            <td>@Model.EfficiencyRating</td>
        </tr>
        <tr>
            <th>@L["Modularity"]</th>
            <td>@Model.Modularity</td>
        </tr>
        <tr>
            <th>@L["FormFactor"]</th>
            <td>@Model.FormFactor</td>
        </tr>
    </tbody>
</table>
