@model Acme.ProductSelling.Specifications.RamSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:RAM:Type"]</th>
            <td>@Model.RamTypeName</td>
        </tr>
        <tr>
            <th>@L["Product:RAM:Capacity"]</th>
            <td>@Model.Capacity GB (@Model.ModuleCount modules)</td>
        </tr>
        <tr>
            <th>@L["Product:RAM:Speed"]</th>
            <td>@Model.Speed MT/s</td>
        </tr>
        <tr>
            <th>@L["Product:RAM:Timing"]</th>
            <td>@Model.Timing</td>
        </tr>
        <tr>
            <th>@L["Product:RAM:Voltage"]</th>
            <td>@Model.Voltage V</td>
        </tr>
        <tr>
            <th>@L["Product:RAM:RGB"]</th>
            <td>@L[Model.HasRGB ? "Product:Yes" : "Product:No"]</td>
        </tr>
    </tbody>
</table>
