@model Acme.ProductSelling.Specifications.StorageSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<h5>@L["Storage Details"]</h5>
<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["StorageType"]</th>
            <td>@Model.StorageType</td>
        </tr>
        <tr>
            <th>@L["Interface"]</th>
            <td>@Model.Interface</td>
        </tr>
        <tr>
            <th>@L["Capacity"]</th>
            <td>@Model.Capacity GB</td>
        </tr>
        <tr>
            <th>@L["ReadSpeed"]</th>
            <td>@Model.ReadSpeed MB/s</td>
        </tr>
        <tr>
            <th>@L["WriteSpeed"]</th>
            <td>@Model.WriteSpeed MB/s</td>
        </tr>
        <tr>
            <th>@L["FormFactor"]</th>
            <td>@Model.FormFactor</td>
        </tr>
        @if (Model.Rpm.HasValue)
        {
            <tr>
                <th>@L["RPM"]</th>
                <td>@Model.Rpm.Value RPM</td>
            </tr>
        }
    </tbody>
</table>

