@model List<Acme.ProductSelling.Categories.CategoryLookupDto>
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

@{
    var categories = Model;
}

@if (categories != null || categories.Any())
{

    <ul class="dropdown-menu category-hover-menu" aria-labelledby="navbarDropdownCategories">
        @foreach (var category in categories)
        {
            <!-- Electronics with Mega Menu (2 Rows) -->
            @* href="#" *@
            <li class="has-submenu">
                <a asp-page="/Products/ProductsByCategory" asp-route-CategoryId="@category.Id" class="category-link">
                    @category.Name <i class="bi bi-chevron-right"></i>
                </a>
                <div class="submenu dropdown-menu mega-menu">
                    <div class="container-fluid">

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <h6>@L["Brands"]</h6>
                                <ul>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Projectors</a></li>
                                    <li><a href="#">Soundbars</a></li>
                                    <li><a href="#">Streaming</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Computers & Tablets</h6>
                                <ul>
                                    <li><a href="#">Laptops</a></li>
                                    <li><a href="#">Desktops</a></li>
                                    <li><a href="#">Tablets</a></li>
                                    <li><a href="#">Monitors</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>@L["ByPrice"]</h6>
                                <ul>
                                    <li>
                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-CategoryId="@category.Id"
                                           asp-route-PriceRangeAlias="@L["PriceRangeAlias:Under1Million"].Value">
                                            @L["Under1Million"]
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-CategoryId="@category.Id"
                                           asp-route-PriceRangeAlias="@L["PriceRangeAlias:From1MillionTo5Million"].Value">
                                            @L["From1MillionTo5Million"]
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-CategoryId="@category.Id"
                                           asp-route-PriceRangeAlias="@L["PriceRangeAlias:From5MillionTo20Million"].Value">

                                            @L["From5MillionTo20Million"]
                                        </a>
                                    </li>
                                    <li>

                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-CategoryId="@category.Id"
                                           asp-route-PriceRangeAlias="@L["PriceRangeAlias:Over20Million"].Value">

                                            @L["Over20Million"]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Computer Accessories</h6>
                                <ul>
                                    <li><a href="#">Keyboards</a></li>
                                    <li><a href="#">Printers</a></li>
                                    <li><a href="#">Storage</a></li>
                                    <li><a href="#">Networking</a></li>
                                </ul>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h6>Audio</h6>
                                <ul>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Speakers</a></li>
                                    <li><a href="#">Hi-Fi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Audio</h6>
                                <ul>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Speakers</a></li>
                                    <li><a href="#">Hi-Fi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Audio</h6>
                                <ul>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Speakers</a></li>
                                    <li><a href="#">Hi-Fi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}




