@model Acme.ProductSelling.Specifications.CableSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Cable:CableType"]</th>
            <td>@Model.CableType</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:Length"]</th>
            <td>@Model.Length</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:MaxPower"]</th>
            <td>@Model.MaxPower</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:DataTransferSpeed"]</th>
            <td>@Model.DataTransferSpeed</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:Connector1"]</th>
            <td>@Model.Connector1</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:Connector2"]</th>
            <td>@Model.Connector2</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:IsBraided"]</th>
            <td>@L[Model.IsBraided ? "Product:Yes" : "Product:No"]</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:Color"]</th>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <th>@L["Product:Cable:Warranty"]</th>
            <td>@Model.Warranty</td>
        </tr>
    </tbody>
</table>