@model Acme.ProductSelling.Specifications.CaseFanSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:CaseFan:FanSize"]</th>
            <td>@Model.FanSize</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:MaxRpm"]</th>
            <td>@Model.MaxRpm</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:NoiseLevel"]</th>
            <td>@Model.NoiseLevel</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:Airflow"]</th>
            <td>@Model.Airflow</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:StaticPressure"]</th>
            <td>@Model.StaticPressure</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:Connector"]</th>
            <td>@Model.Connector</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:BearingType"]</th>
            <td>@Model.BearingType</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:HasRgb"]</th>
            <td>@L[Model.HasRgb ? "Product:Yes" : "Product:No"]</td>
        </tr>
        <tr>
            <th>@L["Product:CaseFan:Color"]</th>
            <td>@Model.Color</td>
        </tr>
    </tbody>
</table>