@model Acme.ProductSelling.Specifications.CpuSpecificationDto


<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:CPU:Socket"]</th>
            <td>@Model.SocketName</td>
        </tr>
        <tr>
            <th>@L["Product:CPU:CoresThreads"]</th>
            <td>@Model.CoreCount / @Model.ThreadCount</td>
        </tr>
        <tr>
            <th>@L["Product:CPU:BaseBoostClock"]</th>
            <td>@Model.BaseClock GHz / @Model.BoostClock GHz</td>
        </tr>
        <tr>
            <th>@L["Product:CPU:L3Cache"]</th>
            <td>@Model.L3Cache MB</td>
        </tr>
        <tr>
            <th>@L["Product:CPU:TDP"]</th>
            <td>@Model.Tdp W</td>
        </tr>
        <tr>
            <th>@L["Product:CPU:IntegratedGraphics"]</th>
            <td>@L[Model.HasIntegratedGraphics ? "Product:Yes" : "Product:No"]</td>
        </tr>
    </tbody>
</table>
