@model Acme.ProductSelling.Specifications.CpuCoolerSpecificationDto


<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:CPUCooler:Type"]</th>
            <td>@Model.CoolerType</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:Color"]</th>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:FanSize"]</th>
            <td>@Model.FanSize</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:Height"]</th>
            <td>@Model.Height</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:TdpSupport"]</th>
            <td>@Model.TdpSupport</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:SupportedSockets"]</th>
            <td>@Model.SupportedSockets</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:RadiatorSize"]</th>
            <td>@Model.RadiatorSize</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:NoiseLevel"]</th>
            <td>@Model.NoiseLevel</td>
        </tr>
        <tr>
            <th>@L["Product:CPUCooler:LedLighting"]</th>
            <td>@Model.LedLighting</td>
        </tr>
    </tbody>
</table>
