@model Acme.ProductSelling.Specifications.GpuSpecificationDto


<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:GPU:Chipset"]</th>
            <td>@Model.Chipset</td>
        </tr>
        <tr>
            <th>@L["Product:GPU:Memory"]</th>
            <td>@Model.MemorySize GB @Model.MemoryType</td>
        </tr>
        <tr>
            <th>@L["Product:GPU:BoostClock"]</th>
            <td>@Model.BoostClock MHz</td>
        </tr>
        <tr>
            <th>@L["Product:GPU:Interface"]</th>
            <td>@Model.Interface</td>
        </tr>
        <tr>
            <th>@L["Product:GPU:RecommendedPSU"]</th>
            <td>@Model.RecommendedPsu W</td>
        </tr>
        <tr>
            <th>@L["Product:GPU:Length"]</th>
            <td>@Model.Length mm</td>
        </tr>
    </tbody>
</table>
