@model Acme.ProductSelling.Specifications.HeadsetSpecificationDto


<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Headset:Connectivity"]</th>
            <td>@Model.Connectivity</td>
        </tr>
        <tr>
            <th>@L["Product:Headset:HasMicrophone"]</th>
            <td>@L[Model.HasMicrophone ? "Product:Yes" : "Product:No"]</td>
        </tr>
        <tr>
            <th>@L["Product:Headset:IsSurroundSound"]</th>
            <td>@L[Model.IsSurroundSound ? "Product:Yes" : "Product:No"]</td>
        </tr>
        <tr>
            <th>@L["Product:Headset:IsNoiseCancelling"]</th>
            <td>@L[Model.IsNoiseCancelling ? "Product:Yes" : "Product:No"]</td>
        </tr>
        <tr>
            <th>@L["Product:Headset:DriverSize"]</th>
            <td>@Model.DriverSize</td>
        </tr>
    </tbody>
</table>
