@model Acme.ProductSelling.Specifications.KeyboardSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Keyboard:Connectivity"]</th>
            <td>@Model.Connectivity</td>
        </tr>
        <tr>
            <th>@L["Product:Keyboard:SwitchType"]</th>
            <td>@Model.SwitchTypeName</td>
        </tr>
        <tr>
            <th>@L["Product:Keyboard:Type"]</th>
            <td>@Model.KeyboardType</td>
        </tr>
        <tr>
            <th>@L["Product:Keyboard:Layout"]</th>
            <td>@Model.Layout</td>
        </tr>
        <tr>
            <th>@L["Product:Keyboard:Backlight"]</th>
            <td>@Model.Backlight</td>
        </tr>
    </tbody>
</table>
