@model Acme.ProductSelling.Specifications.MonitorSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Monitor:RefreshRate"]</th>
            <td>@Model.RefreshRate Hz</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:Resolution"]</th>
            <td>@Model.Resolution</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:ScreenSize"]</th>
            <td>@Model.ScreenSize inches</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:ResponseTime"]</th>
            <td>@Model.ResponseTime ms</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:PanelType"]</th>
            <td>@Model.PanelTypeName</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:ResponseTimeMs"]</th>
            <td>@Model.ResponseTimeMs ms</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:ColorGamut"]</th>
            <td>@Model.ColorGamut</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:Brightness"]</th>
            <td>@Model.Brightness nits</td>
        </tr>
        <tr>
            <th>@L["Product:Monitor:VesaMount"]</th>
            <td>@L[Model.VesaMount ? "Product:Yes" : "Product:No"]</td>
        </tr>
    </tbody>
</table>
