@model Acme.ProductSelling.Specifications.MouseSpecificationDto
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Mouse:DPI"]</th>
            <td>@Model.Dpi</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:ButtonCount"]</th>
            <td>@Model.ButtonCount</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:PollingRate"]</th>
            <td>@Model.PollingRate Hz</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:SensorType"]</th>
            <td>@Model.SensorType</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:Weight"]</th>
            <td>@Model.Weight g</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:Connectivity"]</th>
            <td>@Model.Connectivity</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:Color"]</th>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <th>@L["Product:Mouse:BacklightColor"]</th>
            <td>@Model.BacklightColor</td>
        </tr>
    </tbody>
</table>


