@model Acme.ProductSelling.Specifications.NetworkHardwareSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:NetworkHardware:DeviceType"]</th>
            <td>@Model.DeviceType</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:WifiStandard"]</th>
            <td>@Model.WifiStandard</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:MaxSpeed"]</th>
            <td>@Model.MaxSpeed</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:Frequency"]</th>
            <td>@Model.Frequency</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:EthernetPorts"]</th>
            <td>@Model.EthernetPorts</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:AntennaCount"]</th>
            <td>@Model.AntennaCount</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:HasUsb"]</th>
            <td>@L[Model.HasUsb ? "Product:Yes" : "Product:No"]</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:SecurityProtocol"]</th>
            <td>@Model.SecurityProtocol</td>
        </tr>
        <tr>
            <th>@L["Product:NetworkHardware:Coverage"]</th>
            <td>@Model.Coverage</td>
        </tr>
    </tbody>
</table>