@model Acme.ProductSelling.Specifications.PsuSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:PSU:Wattage"]</th>
            <td>@Model.Wattage W</td>
        </tr>
        <tr>
            <th>@L["Product:PSU:EfficiencyRating"]</th>
            <td>@Model.EfficiencyRating</td>
        </tr>
        <tr>
            <th>@L["Product:PSU:Modularity"]</th>
            <td>@Model.Modularity</td>
        </tr>
        <tr>
            <th>@L["Product:PSU:FormFactor"]</th>
            <td>@Model.FormFactorName</td>
        </tr>
    </tbody>
</table>
