@model Acme.ProductSelling.Specifications.SpeakerSpecificationDto

<table class="table table-bordered mb-0">
    <tbody>
        <tr>
            <th>@L["Product:Speaker:SpeakerType"]</th>
            <td>@Model.SpeakerType</td>
        </tr>
        <tr>
            <th>@L["Product:Speaker:TotalWattage"]</th>
            <td>@Model.TotalWattage W</td>
        </tr>
        <tr>
            <th>@L["Product:Speaker:Frequency"]</th>
            <td>@Model.Frequency</td>
        </tr>
        <tr>
            <th>@L["Product:Speaker:Connectivity"]</th>
            <td>@Model.Connectivity</td>
        </tr>
        <tr>
            <th>@L["Product:Speaker:InputPorts"]</th>
            <td>@Model.InputPorts</td>
        </tr>
        <tr>
            <th>@L["Product:Speaker:Color"]</th>
            <td>@Model.Color</td>
        </tr>
    </tbody>
</table>