@model List<Acme.ProductSelling.Categories.CategoryWithManufacturersDto>
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Localization
@inject IStringLocalizer<ProductSellingResource> L

@{
    var categoriesWithManufacturer = Model;
}

@if (categoriesWithManufacturer != null || categoriesWithManufacturer.Any())
{
    <ul class="dropdown-menu category-hover-menu" aria-labelledby="navbarDropdownCategories">
        @foreach (var category in categoriesWithManufacturer)
        {
            <li class="has-submenu">
                <a asp-page="/Products/ProductsByCategory" asp-route-slug="@category.CategoryUrlSlug" class="category-link">
                    @category.CategoryName <i class="bi bi-chevron-right"></i>
                </a>
                <div class="submenu dropdown-menu mega-menu" style="height: 100%; z-index:1001">
                    <div class="container-fluid">

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <h6>@L["UI:Brands"]</h6>
                                <ul>
                                    @foreach (var manufacturer in category.Manufacturers.Take(3))
                                    {
                                        <li>
                                            <a asp-page="/Products/ProductsByManufacturer"
                                               asp-route-categoryUrlSlug="@category.CategoryUrlSlug"
                                               asp-route-manufacturerUrlSlug="@manufacturer.UrlSlug">
                                                @manufacturer.Name
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                            <span>@L["SeeAll"]</span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Computers</h6>
                                <ul>
                                    <li><a href="#">Laptops</a></li>
                                    <li><a href="#">Desktops</a></li>
                                    <li><a href="#">Tablets</a></li>
                                    <li><a href="#">Monitors</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>@L["UI:ByPrice"]</h6>
                                <ul>
                                    <li>
                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-slug="@category.CategoryUrlSlug"
                                           asp-route-PriceRangeAlias="@L["UI:PriceRange:Under1Million"].Value">
                                            @L["UI:PriceRange:Under1Million"]
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-slug="@category.CategoryUrlSlug"
                                           asp-route-PriceRangeAlias="@L["UI:PriceRange:From1MillionTo5Million"].Value">
                                            @L["UI:PriceRange:From1MillionTo5Million"]
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-slug="@category.CategoryUrlSlug"
                                           asp-route-PriceRangeAlias="@L["UI:PriceRange:From5MillionTo20Million"].Value">

                                            @L["UI:PriceRange:From5MillionTo20Million"]
                                        </a>
                                    </li>
                                    <li>

                                        <a asp-page="/Products/ProductsByPrice"
                                           asp-route-slug="@category.CategoryUrlSlug"
                                           asp-route-PriceRangeAlias="@L["UI:PriceRange:Over20Million"].Value">

                                            @L["UI:PriceRange:Over20Million"]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Accessories</h6>
                                <ul>
                                    <li><a href="#">Keyboards</a></li>
                                    <li><a href="#">Printers</a></li>
                                    <li><a href="#">Storage</a></li>
                                    <li><a href="#">Networking</a></li>
                                </ul>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h6>Audio</h6>
                                <ul>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Speakers</a></li>
                                    <li><a href="#">Hi-Fi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Audio</h6>
                                <ul>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Speakers</a></li>
                                    <li><a href="#">Hi-Fi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h6>Audio</h6>
                                <ul>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Speakers</a></li>
                                    <li><a href="#">Hi-Fi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}