@page
@model Acme.ProductSelling.Web.Pages.Admin.Categories.CreateModalModel
@using Acme.ProductSelling.Localization
@using Microsoft.Extensions.Localization
@using Acme.ProductSelling.Utils
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<ProductSellingResource> L
@{
    Layout = null;
}

<form method="post" id="CategoryForm" asp-page="/Admin/Categories/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["Category:CreateCategory"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-validation-summary />
            <abp-alert-list />

            <abp-input asp-for="Category.Name" label="@L["Category:Name"]" />
            <abp-input asp-for="Category.Description" label="@L["Category:Description"]" type="textarea" />

            <abp-input asp-for="Category.UrlSlug" label="@L["Category:UrlSlug"]" readonly="true" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
