@page "{prefix}/categories/edit/{id:guid}"
@model Acme.ProductSelling.Web.Pages.Admin.Categories.EditModalModel

@{
    Layout = null;
}


<form method="post" asp-page="@($"/{Model.Prefix}/categories/edit-modal/{Model.Id}")">
    <input type="hidden" asp-for="Id" />
    <abp-modal>
        <abp-modal-header title="@L["Category:EditCategory"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Category.Name" label="@L["Category:Name"].Value" />
            <abp-input asp-for="Category.Description" label="@L["Category:Description"]" type="textarea" />

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
