@page "/{prefix}/products/detail/{id:Guid}"
@using Acme.ProductSelling.Categories
@using Microsoft.AspNetCore.Authorization
@using Acme.ProductSelling.Permissions
@using Acme.ProductSelling.Specifications
@model Acme.ProductSelling.Web.Pages.Admin.Products.ProductDetailModel

@{
    ViewData["Title"] = L["UI:Title:Admin:Products:Details"];
    Layout = "/Pages/Admin/Shared/_AdminLayout.cshtml";

}
<div class="container ">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb border-0">
            <li class="breadcrumb-item"><a href="/">@L["Admin:Menu:Home"]</a></li>
            <li class="breadcrumb-item"><a asp-page="/Admin/Products/Index">@L["Admin:Menu:Products"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Product.ProductName</li>
        </ol>
    </nav>
</div>
<div class="container py-2 bg-light rounded border border-black">
    <div class="row">
        <div class="col-md-7 text-center border border-black">
            @if (!string.IsNullOrWhiteSpace(Model.Product.ImageUrl))
            {
                <img src="@Model.Product.ImageUrl" class="img-fluid rounded border" style="max-width: 250px;" alt="@Model.Product.ProductName" loading="lazy">
            }
            else
            {
                <div class="text-center p-5 border rounded bg-light" style="max-width: 250px; margin: auto;">
                    <i class="fas fa-image fa-5x text-secondary"></i>
                </div>
            }
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>@L["Product:Name"]</th>
                    <td>@Model.Product.ProductName</td>
                </tr>
                <tr>
                    <th>@L["Product:Manufacturer"]</th>
                    <td>@Model.Product.ManufacturerName</td>
                    </tr>
                <tr>
                    <th>@L["Product:Category"]</th>
                    <td>@Model.Product.CategoryName</td>
                </tr>
                <tr>
                    <th>@L["Product:Description"]</th>
                    <td>@Model.Product.Description</td>
                </tr>
                <tr>
                    <th>@L["Product:OriginalPrice"]</th>
                    <td>@Model.Product.OriginalPrice.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
                <tr>
                    <th>@L["Product:DiscountPercent"]</th>
                    <td>
                        @Model.Product.DiscountPercent %
                    </td>
                </tr>
                <tr>
                    <th>@L["Product:DiscountedPrice"]</th>
                    <td>@Model.Product.DiscountedPrice.Value.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
            </table>
            
            <a asp-page="Edit" asp-route-id="@Model.Product.Id" class="btn btn-primary">Edit Product</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            @switch (Model.Product.SpecificationBase)
            {
                // --- Core Components ---
                case CpuSpecificationDto cpuSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_CpuSpecsPartial.cshtml" model="cpuSpec" />
                    break;
                case GpuSpecificationDto gpuSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_GpuSpecsPartial.cshtml" model="gpuSpec" />
                    break;
                case RamSpecificationDto ramSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_RamSpecsPartial.cshtml" model="ramSpec" />
                    break;
                case MotherboardSpecificationDto mbSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_MotherboardSpecsPartial.cshtml" model="mbSpec" />
                    break;
                case StorageSpecificationDto storageSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_StorageSpecsPartial.cshtml" model="storageSpec" />
                    break;
                case MemoryCardSpecificationDto memCardSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_MemoryCardSpecsPartial.cshtml" model="memCardSpec" />
                    break;

                // --- Cooling & Power ---
                case PsuSpecificationDto psuSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_PsuSpecsPartial.cshtml" model="psuSpec" />
                    break;
                case CaseSpecificationDto caseSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_CaseSpecsPartial.cshtml" model="caseSpec" />
                    break;
                case CpuCoolerSpecificationDto coolerSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_CpuCoolerSpecsPartial.cshtml" model="coolerSpec" />
                    break;
                case CaseFanSpecificationDto caseFanSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_CaseFanSpecsPartial.cshtml" model="caseFanSpec" />
                    break;

                // --- Computers ---
                case LaptopSpecificationDto laptopSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_LaptopSpecsPartial.cshtml" model="laptopSpec" />
                    break;
                case HandheldSpecificationDto handheldSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_HandheldSpecsPartial.cshtml" model="handheldSpec" />
                    break;
                case ConsoleSpecificationDto consoleSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_ConsoleSpecsPartial.cshtml" model="consoleSpec" />
                    break;

                // --- Peripherals ---
                case MonitorSpecificationDto monitorSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_MonitorSpecsPartial.cshtml" model="monitorSpec" />
                    break;
                case KeyboardSpecificationDto kbSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_KeyboardSpecsPartial.cshtml" model="kbSpec" />
                    break;
                case MouseSpecificationDto mouseSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_MouseSpecsPartial.cshtml" model="mouseSpec" />
                    break;
                case MousePadSpecificationDto padSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_MousePadPartial.cshtml" model="padSpec" />
                    break;

                // --- Audio & Video ---
                case HeadsetSpecificationDto headsetSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_HeadsetSpecsPartial.cshtml" model="headsetSpec" />
                    break;
                case SpeakerSpecificationDto speakerSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_SpeakerSpecsPartial.cshtml" model="speakerSpec" />
                    break;
                case MicrophoneSpecificationDto micSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_MicrophoneSpecsPartial.cshtml" model="micSpec" />
                    break;
                case WebcamSpecificationDto webcamSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_WebcamSpecsPartial.cshtml" model="webcamSpec" />
                    break;

                // --- Furniture ---
                case ChairSpecificationDto chairSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_ChairSpecsPartial.cshtml" model="chairSpec" />
                    break;
                case DeskSpecificationDto deskSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_DeskSpecsPartial.cshtml" model="deskSpec" />
                    break;

                // --- Networking & Software ---
                case NetworkHardwareSpecificationDto netSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_NetworkHardwareSpecsPartial.cshtml" model="netSpec" />
                    break;
                case SoftwareSpecificationDto softwareSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_SoftwareSpecsPartial.cshtml" model="softwareSpec" />
                    break;

                // --- Accessories ---
                case HubSpecificationDto hubSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_HubSpecsPartial.cshtml" model="hubSpec" />
                    break;
                case CableSpecificationDto cableSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_CableSpecsPartial.cshtml" model="cableSpec" />
                    break;
                case ChargerSpecificationDto chargerSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_ChargerSpecsPartial.cshtml" model="chargerSpec" />
                    break;
                case PowerBankSpecificationDto powerBankSpec:
                    <partial name="~/Pages/Components/ProductSpecs/_PowerBankSpecsPartial.cshtml" model="powerBankSpec" />
                    break;

                // --- Fallback ---
                case null:
                default:
                    <p class="text-muted">@L["Product:NoSpecificSpecifications"]</p>
                    break;
            }
        </div>
    </div>
</div>