@page "/admin/products/detail/{id:Guid}"
@using Acme.ProductSelling.Categories
@using Acme.ProductSelling.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@using Acme.ProductSelling.Permissions
@using System.Globalization
@inject IStringLocalizer<ProductSellingResource> L
@model Acme.ProductSelling.Web.Pages.Admin.Products.ProductDetailModel


<div class="container ">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb border-0">
            <li class="breadcrumb-item"><a href="/">@L["Admin:Menu:Home"]</a></li>
            <li class="breadcrumb-item"><a asp-page="/Admin/Products/Index">@L["Admin:Menu:Products"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Product.ProductName</li>
        </ol>
    </nav>
</div>
<div class="container py-2 bg-light rounded border border-black">
    <div class="row">
        <div class="col-md-7 text-center border border-black">
            @if (!string.IsNullOrWhiteSpace(Model.Product.ImageUrl))
            {
                <img src="@Model.Product.ImageUrl" class="img-fluid rounded border" style="max-width: 250px;" alt="@Model.Product.ProductName">
            }
            else
            {
                <div class="text-center p-5 border rounded bg-light" style="max-width: 250px; margin: auto;">
                    <i class="fas fa-image fa-5x text-secondary"></i>
                </div>
            }
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>@L["Product:Name"]</th>
                    <td>@Model.Product.ProductName</td>
                </tr>
                <tr>
                    <th>@L["Product:Manufacturer"]</th>
                    <td>@Model.Product.ManufacturerName</td>
                    </tr>
                <tr>
                    <th>@L["Product:Category"]</th>
                    <td>@Model.Product.CategoryName</td>
                </tr>
                <tr>
                    <th>@L["Product:Description"]</th>
                    <td>@Model.Product.Description</td>
                </tr>
                <tr>
                    <th>@L["Product:OriginalPrice"]</th>
                    <td>@Model.Product.OriginalPrice.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
                <tr>
                    <th>@L["Product:DiscountPercent"]</th>
                    <td>
                        @Model.Product.DiscountPercent
                    </td>
                </tr>
                <tr>
                    <th>@L["Product:DiscountedPrice"]</th>
                    <td>@Model.Product.DiscountedPrice.Value.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
            </table>
            
            <a asp-page="Edit" asp-route-id="@Model.Product.Id" class="btn btn-primary">Edit Product</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            @switch (Model.Product.CategorySpecificationType)
            {
                case SpecificationType.Monitor:
                    if (Model.Product.MonitorSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_MonitorSpecsPartial.cshtml" model="Model.Product.MonitorSpecification" />
                    }
                    break;
                case SpecificationType.Mouse:
                    if (Model.Product.MouseSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_MouseSpecsPartial.cshtml" model="Model.Product.MouseSpecification" />
                    }
                    break;
                case SpecificationType.CPU:
                    if (Model.Product.CpuSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_CpuSpecsPartial.cshtml" model="Model.Product.CpuSpecification" />
                    }
                    else
                    {
                        <p>@Model.Product.CpuSpecification</p>
                    }
                    break;
                case SpecificationType.GPU:
                    if (Model.Product.GpuSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_GpuSpecsPartial.cshtml" model="Model.Product.GpuSpecification" />
                    }
                    break;
                case SpecificationType.RAM:
                    if (Model.Product.RamSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_RamSpecsPartial.cshtml" model="Model.Product.RamSpecification" />
                    }
                    break;
                case SpecificationType.Motherboard:
                    if (Model.Product.MotherboardSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_MotherboardSpecsPartial.cshtml" model="Model.Product.MotherboardSpecification" />
                    }
                    break;
                case SpecificationType.Storage:
                    if (Model.Product.StorageSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_StorageSpecsPartial.cshtml" model="Model.Product.StorageSpecification" />
                    }
                    break;
                case SpecificationType.PSU:
                    if (Model.Product.PsuSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_PsuSpecsPartial.cshtml" model="Model.Product.PsuSpecification" />
                    }
                    break;
                case SpecificationType.Case:
                    if (Model.Product.CaseSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_CaseSpecsPartial.cshtml" model="Model.Product.CaseSpecification" />
                    }
                    break;
                case SpecificationType.CPUCooler:
                    if (Model.Product.CpuCoolerSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_CpuCoolerSpecsPartial.cshtml" model="Model.Product.CpuCoolerSpecification" />
                    }
                    break;
                case SpecificationType.Keyboard:
                    if (Model.Product.KeyboardSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_KeyboardSpecsPartial.cshtml" model="Model.Product.KeyboardSpecification" />
                    }
                    break;
                case SpecificationType.Headset:
                    if (Model.Product.HeadsetSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_HeadsetSpecsPartial.cshtml" model="Model.Product.HeadsetSpecification" />
                    }
                    break;
                case SpecificationType.Laptop:
                    if (Model.Product.LaptopSpecification != null)
                    {
                        <partial name="/Pages/Shared/ProductSpecs/_LaptopSpecsPartial.cshtml" model="Model.Product.LaptopSpecification" />
                    }
                    break;
                default:
                    <p>@L["NoSpecificSpecifications"]</p>
                    <p>@Model.Product.CategorySpecificationType</p>
                    break;
            }
        </div>
    </div>
</div>