@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Bundling;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite.Bundling;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite.Languages;

@using Acme.ProductSelling.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@using Acme.ProductSelling.Permissions
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject IStringLocalizer<ProductSellingResource> L
@inject IAuthorizationService AuthorizationService

@{
    var title = ViewData["Title"]?.ToString();
    var hasAdminPermission = await AuthorizationService.IsGrantedAsync(ProductSellingPermissions.Orders.Default);

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="~/images/monitor.png" rel="shortcut icon" type="image/x-icon" />
    <abp-style-bundle name="@BasicThemeBundles.Styles.Global" />
    @await RenderSectionAsync("styles", required: false)

    <style>

    </style>
</head>
<body class="abp-application-layout bg-light d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/" aria-label="Home">
                <img src="~/images/monitor.png" alt="Home" style="width: 75px;aspect-ratio: 16 / 9;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                @if (!title.ToLower().Contains("home"))
                {
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                        <li class="nav-item dropdown category-dropdown-container me-2">
                            <button class="btn btn-danger dropdown-toggle d-flex align-items-center" type="button"
                                    id="navbarDropdownCategories" aria-expanded="false">
                                <i class="bi bi-list me-2"></i>
                                Categories
                            </button>
                            @await Component.InvokeAsync(typeof(Acme.ProductSelling.Web.Components.CategoriesMenu.CategoriesMenuViewComponent))
                        </li>
                    </ul>
                }

                <form class="d-flex my-2 my-lg-0 flex-grow-1 mx-lg-2"
                      asp-page="/Products/ProductsByName" method="get">
                    <input class="form-control me-2 border-1 border-black" name="name" type="search" placeholder="@L["Search..."]"
                           aria-label="@L["Search..."]">
                    <button class="btn btn-outline-success" type="submit">
                        @L["Search"]
                    </button>
                </form>
                @if (CurrentUser.IsAuthenticated)
                {

                    <div class="d-flex align-items-center ms-lg-auto">

                        <div class="dropdown me-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle me-1"></i>
                                @CurrentUser.UserName
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" asp-page="/Account/Manage/Index">@L["ManageYourProfile"]</a></li>
                                <li><a class="dropdown-item" asp-page="/Orders/OrderHistory">@L["MyOrders"]</a></li>
                                @if (hasAdminPermission || CurrentUser.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-page="/Admin/Index">@L["AdminPanel"]</a></li>
                                }

                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/Account/Logout?returnUrl=/" id="logoutButton">
                                        <i class="bi bi-box-arrow-right me-2"></i>@L["Logout"]
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="/cart" id="shopping-cart-widget" class="btn btn-outline-dark me-2 position-relative flex-shrink-0"
                           aria-label="Cart">
                            <i class="bi bi-cart3 fs-5"></i>
                            <span class="cart-item-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">0</span>
                        </a>
                        @{
                            await Html.RenderPartialAsync("_LanguageDropdownPartial");
                        }
                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center ms-lg-auto">
                        <button type="button" class="btn btn-success d-flex align-items-center flex-shrink-0 me-2"
                                data-bs-toggle="modal" data-bs-target="#loginModal">
                            <i class="bi bi-person-fill me-1"></i>
                            Login
                        </button>

                        @{
                            await Html.RenderPartialAsync("_LanguageDropdownPartial");
                        }
                    </div>
                }



            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="bg-white text-dark mt-auto">
        <div class="container" style="padding-top:10px">
            <!-- Upper section -->
            <div class="row justify-content-center" style="margin-top:10px">
                <!-- Cột 1 -->
                <div class="col-6 col-md-2 mb-4">
                    <h6 class="fw-bold">VỀ GEARVN</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Giới thiệu</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Tuyển dụng</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Liên hệ</a></li>
                    </ul>
                </div>
                <!-- Cột 2 -->
                <div class="col-6 col-md-2 mb-4">
                    <h6 class="fw-bold">CHÍNH SÁCH</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Chính sách bảo hành</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Chính sách giao hàng</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <!-- Cột 3 -->
                <div class="col-6 col-md-2 mb-4">
                    <h6 class="fw-bold">THÔNG TIN</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Hệ thống cửa hàng</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Hướng dẫn mua hàng</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Hướng dẫn thanh toán</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Hướng dẫn trả góp</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Tra cứu địa chỉ bảo hành</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Build PC</a></li>
                    </ul>
                </div>
                <!-- Cột 4 -->
                <div class="col-6 col-md-2 mb-4">
                    <h6 class="fw-bold">TỔNG ĐÀI HỖ TRỢ <small class="text-muted">(8:00 - 21:00)</small></h6>
                    <ul class="list-unstyled">
                        <li>Mua hàng: <a href="tel:19005301" class="text-primary">1900.5301</a></li>
                        <li>Bảo hành: <a href="tel:19005325" class="text-primary">1900.5325</a></li>
                        <li>Khiếu nại: <a href="tel:18006173" class="text-primary">1800.6173</a></li>
                        <li>Email: <a href="mailto:nhatminh4403@gmail.com" class="text-primary">nhatminh4403@gmail.com</a></li>
                    </ul>
                </div>
                <!-- Cột 5: Vận chuyển -->
                <div class="col-12 col-md-2 mb-4">
                    <h6 class="fw-bold">CÁCH THỨC THANH TOÁN</h6>
                    <div class="d-flex flex-wrap align-items-center gap-2">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_1.png?v=8602"
                             alt="Internet Banking" width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_2.png?v=8602" alt="JCB"
                             width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_3.png?v=8602"
                             alt="MasterCard" width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_4.png?v=8602" alt="ZaloPay"
                             width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_5.png?v=8602" alt="Tiền mặt"
                             width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_6.png?v=8602"
                             alt="Trả góp 0%" width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_7.png?v=8602" alt="Visa"
                             width="50">
                        <img src="https://theme.hstatic.net/200000722513/1001090675/14/pay_8.png?v=8602" alt="Momo"
                             width="50">
                    </div>
                </div>

            </div>

            <hr style="margin-top:unset;margin-bottom:unset">

            <div class="row align-items-center">
                <div class="col-md-6 mb-3 mb-md-0 text-decoration-none">
                    <span class="fw-bold me-3">KẾT NỐI VỚI CHÚNG TÔI</span>
                    <a href="#" class="me-2 text-decoration-none">
                        <img src="https://file.hstatic.net/200000636033/file/facebook_1_0e31d70174824ea184c759534430deec.png"
                             alt="FB" width="30">
                    </a>
                    <a href="#" class="me-2 text-decoration-none">
                        <img src="https://file.hstatic.net/200000722513/file/tiktok-logo_fe1e020f470a4d679064cec31bc676e4.png"
                             alt="TikTok" width="30">
                    </a>
                    <a href="#" class="me-2">
                        <img src="https://file.hstatic.net/200000636033/file/youtube_1_d8de1f41ca614424aca55aa0c2791684.png"
                             alt="YouTube" width="30">
                    </a>

                </div>
                <div class="col-md-6 text-md-end text-decoration-none">
                    <img src="https://theme.hstatic.net/200000722513/1001090675/14/logo-bct.png?v=8602"
                         alt="Đã thông báo Bộ Công Thương" width="150">
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5><button type="button" class="btn-close"
                                                                                   data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Email</label><input type="text"
                                                                                           class="form-control" id="loginEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Password</label><input type="password" class="form-control" id="loginPassword" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input"
                                   id="rememberMeCheck"><label class="form-check-label"
                                                               for="rememberMeCheck">Remember</label>
                        </div>
                        <p class="text-center small">
                            <a href="#">Forgot password?</a> |
                            <a data-bs-toggle="modal"
                               data-bs-target="#registerModal" data-bs-dismiss="modal">Create Account</a>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button><button type="submit" class="btn btn-primary"
                                     form="loginForm">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Register</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registerForm">
                        <div class="mb-3">
                            <label for="registerName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="registerName" required>
                        </div>
                        <div class="mb-3">
                            <label for="registerEmail" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control" id="registerEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="registerPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="registerPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="registerConfirmPassword" class="form-label">
                                Confirm
                                Password
                            </label>
                            <input type="password" class="form-control" id="registerConfirmPassword" required>
                        </div>
                        <p class="text-center small">
                            Already have an account? <a data-bs-toggle="modal"
                                                        data-bs-target="#loginModal" data-bs-dismiss="modal">Login Here</a>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button><button type="submit" class="btn btn-primary"
                                     form="registerForm">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>

    <abp-script-bundle name="@BasicThemeBundles.Scripts.Global" />

    <script src="~/Abp/ServiceProxyScript" asp-append-version="true"></script>
    <script src="~/Abp/ApplicationLocalizationScript?cultureName=@CultureInfo.CurrentUICulture.Name"></script>
    @* <script src="~/libs/abp/core/"></script> *@
    <script src="~/libs/abp/core/abp.js"></script>
    @await RenderSectionAsync("scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
