@page "Callback/{vnp_ResponseCode}/{OrderId}/{OrderNumber}"
@model Acme.ProductSelling.Web.Pages.Payments.CallbackModel

@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@inject Volo.Abp.Users.ICurrentUser CurrentUser
@{
    ViewData["Title"] = L["Title:PaymentCallback"];
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container text-center mt-5">
    @if (Model.IsSuccess)
    {
        <i class="fa fa-check-circle fa-5x text-success"></i>
        <h1 class="mt-3">@L["Payment:PaymentSuccessful"]</h1>
    }
    else
    {
        <i class="fa fa-times-circle fa-5x text-danger"></i>
        <h1 class="mt-3">@L["Payment:PaymentFailed"]</h1>
    }
    <p class="lead">@Model.Message</p>
    <p>@L["Payment:YouWillBeRedirectedToOrderHistory"]</p>
    <a asp-page="/Orders/OrderHistory" class="btn btn-primary">@L["Order:ViewOrderHistory"]</a>
</div>