@page "/products/{Slug}"
@model Acme.ProductSelling.Web.Pages.Products.ProductDetailModel
@using Acme.ProductSelling.Categories
@using Acme.ProductSelling.Web.Helpers
@using Acme.ProductSelling.Web.Pages.Components.RecentlyViewed
@using Acme.ProductSelling.Specifications
@{
    ViewData["Title"] = Model.Product?.ProductName ?? L["Product:ProductDetail"];
    Layout = "/Views/Shared/_Layout.cshtml";

}
@section styles {
    <link href="~/css/global/products/detail.css" rel="stylesheet" />
    <link href="~/css/global/products/recently-viewed.css" rel="stylesheet" />
}
@section scripts {
    @* <script src="~/js/global/cart/add-to-cart-handler.js"></script> *@

    <script>
        $(function () {
            RecentlyViewedManager.trackView('@Model.Product.Id');
        });
    </script>
}


@if (Model.Product != null)
{
    <div class="container mt-4 mb-4">
        <div class="bg-white p-4 rounded">
            <div class="row">
                <div class="col-md-7 text-center">
                    @if (!string.IsNullOrWhiteSpace(Model.Product.ImageUrl))
                    {
                        <img src="@Model.Product.ImageUrl"
                             class="img-fluid rounded border" 
                             loading="lazy" style="max-width: 250px;"
                             alt="@Model.Product.ProductName"
                             onerror="this.onerror=null;this.src='/images/placeholder.png';">
                    }
                    else
                    {
                        <img src="~/images/placeholder.png"                
                             class="product-image"
                             loading="lazy"
                             alt="@Model.Product.ProductName">
                    }
                   
                </div>
                <div class="col-md-5">
                    <h2>@Model.Product.ProductName</h2>
                    <p class="text-muted">@L["Product:Manufacturer"]: @Model.Product.ManufacturerName</p>

                    @if (Model.Product.DiscountPercent > 0)
                    {
                        <h3 class="text-muted text-decoration-line-through my-3">
                            @Model.Product.OriginalPrice.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))
                        </h3>
                        <h2 class="text-danger my-3">
                            @Model.Product.DiscountedPrice.Value.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))
                            <span class="badge rounded-pill bg-danger">
                                -@Model.Product.DiscountPercent.ToString("0")%
                            </span>
                        </h2>
                    }
                    else
                    {
                        <h3 class="text-danger my-3">
                            @Model.Product.OriginalPrice.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))
                        </h3>
                    }

                    <button class="btn btn-primary btn-lg add-to-cart-button"
                            data-product-id="@Model.Product.Id"
                            data-product-name="@Model.Product.ProductName"
                            data-product-price="@(Model.Product.DiscountedPrice ?? Model.Product.OriginalPrice)"
                            @(Model.Product.StockCount <= 0 ? "disabled" : "")>
                        <i class="fas fa-cart-plus me-2"></i>
                        @L[Model.Product.StockCount > 0 ? "Product:AddToCart" : "Product:OutOfStock"]
                    </button>
                </div>
            </div>
        </div>

        <!-- Separator -->
        <div class="row">
            <div class="col">
                <div class="separator-custom rounded"></div>
            </div>
        </div>


        <div class="row">
            <!-- Main content -->
            <div class="col-lg-8">
                    <div class="card h-100" id="leftCard">
                        <div class="card-header bg-light"><h2>@L["Product:Specification"]</h2></div>
                        <div class="card-body">
                            <div>
                                @switch (Model.Product.SpecificationBase)
                                {
                                    // --- Core Components ---
                                    case CpuSpecificationDto cpuSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_CpuSpecsPartial.cshtml" model="cpuSpec" />
                                        break;
                                    case GpuSpecificationDto gpuSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_GpuSpecsPartial.cshtml" model="gpuSpec" />
                                        break;
                                    case RamSpecificationDto ramSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_RamSpecsPartial.cshtml" model="ramSpec" />
                                        break;
                                    case MotherboardSpecificationDto mbSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_MotherboardSpecsPartial.cshtml" model="mbSpec" />
                                        break;
                                    case StorageSpecificationDto storageSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_StorageSpecsPartial.cshtml" model="storageSpec" />
                                        break;
                                    case MemoryCardSpecificationDto memCardSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_MemoryCardSpecsPartial.cshtml" model="memCardSpec" />
                                        break;

                                    // --- Cooling & Power ---
                                    case PsuSpecificationDto psuSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_PsuSpecsPartial.cshtml" model="psuSpec" />
                                        break;
                                    case CaseSpecificationDto caseSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_CaseSpecsPartial.cshtml" model="caseSpec" />
                                        break;
                                    case CpuCoolerSpecificationDto coolerSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_CpuCoolerSpecsPartial.cshtml" model="coolerSpec" />
                                        break;
                                    case CaseFanSpecificationDto caseFanSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_CaseFanSpecsPartial.cshtml" model="caseFanSpec" />
                                        break;

                                    // --- Computers ---
                                    case LaptopSpecificationDto laptopSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_LaptopSpecsPartial.cshtml" model="laptopSpec" />
                                        break;
                                    case HandheldSpecificationDto handheldSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_HandheldSpecsPartial.cshtml" model="handheldSpec" />
                                        break;
                                    case ConsoleSpecificationDto consoleSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_ConsoleSpecsPartial.cshtml" model="consoleSpec" />
                                        break;

                                    // --- Peripherals ---
                                    case MonitorSpecificationDto monitorSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_MonitorSpecsPartial.cshtml" model="monitorSpec" />
                                        break;
                                    case KeyboardSpecificationDto kbSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_KeyboardSpecsPartial.cshtml" model="kbSpec" />
                                        break;
                                    case MouseSpecificationDto mouseSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_MouseSpecsPartial.cshtml" model="mouseSpec" />
                                        break;
                                    case MousePadSpecificationDto padSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_MousePadPartial.cshtml" model="padSpec" />
                                        break;

                                    // --- Audio & Video ---
                                    case HeadsetSpecificationDto headsetSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_HeadsetSpecsPartial.cshtml" model="headsetSpec" />
                                        break;
                                    case SpeakerSpecificationDto speakerSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_SpeakerSpecsPartial.cshtml" model="speakerSpec" />
                                        break;
                                    case MicrophoneSpecificationDto micSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_MicrophoneSpecsPartial.cshtml" model="micSpec" />
                                        break;
                                    case WebcamSpecificationDto webcamSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_WebcamSpecsPartial.cshtml" model="webcamSpec" />
                                        break;

                                    // --- Furniture ---
                                    case ChairSpecificationDto chairSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_ChairSpecsPartial.cshtml" model="chairSpec" />
                                        break;
                                    case DeskSpecificationDto deskSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_DeskSpecsPartial.cshtml" model="deskSpec" />
                                        break;

                                    // --- Networking & Software ---
                                    case NetworkHardwareSpecificationDto netSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_NetworkHardwareSpecsPartial.cshtml" model="netSpec" />
                                        break;
                                    case SoftwareSpecificationDto softwareSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_SoftwareSpecsPartial.cshtml" model="softwareSpec" />
                                        break;

                                    // --- Accessories ---
                                    case HubSpecificationDto hubSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_HubSpecsPartial.cshtml" model="hubSpec" />
                                        break;
                                    case CableSpecificationDto cableSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_CableSpecsPartial.cshtml" model="cableSpec" />
                                        break;
                                    case ChargerSpecificationDto chargerSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_ChargerSpecsPartial.cshtml" model="chargerSpec" />
                                        break;
                                    case PowerBankSpecificationDto powerBankSpec:
                                        <partial name="~/Pages/Components/ProductSpecs/_PowerBankSpecsPartial.cshtml" model="powerBankSpec" />
                                        break;

                                    // --- Fallback ---
                                    case null:
                                    default:
                                        <p class="text-muted">@L["Product:NoSpecificSpecifications"]</p>
                                        break;
                                }
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>

            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="sticky-sidebar" id="rightSidebar">
                    <p>change to @L["Product:Specification"]</p>
                </div>
            </div>
        </div>

        <!-- Recently Viewed Products -->
        @await Component.InvokeAsync(typeof(RecentlyViewedViewComponent), new {
        maxCount = 6,
        excludeProductId = Model.Product.Id,
        title = L["UI:OtherRecentlyViewed"].Value.ToString(),
        })

    </div>
}
else
{
    <div class="alert alert-warning">@L["Product:ProductNotFound"]</div>
}