@model ThemeLanguageInfo

@{
    var currentPath = Context.Request.Path.Value?.ToLowerInvariant() ?? "";
    var returnUrl = Context.Request.GetEncodedPathAndQuery();

    var dropdownId = "languageDropdown_" + Guid.NewGuid().ToString("N")[..8];
}

@if (Model.Languages.Any())
{
    <div class="dropdown">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="@dropdownId" data-bs-toggle="dropdown">
            <i class="bi bi-globe"></i> @Model.CurrentLanguage.DisplayName
        </button>
        <ul class="dropdown-menu" aria-labelledby="@dropdownId">
            @foreach (var language in Model.Languages)
            {
                var isCurrent = language.CultureName == Model.CurrentLanguage.CultureName || 
                                language.CultureName == Model.CurrentLanguage.DisplayName ||
                                language.DisplayName == Model.CurrentLanguage.DisplayName;
                <li>
                    @if (isCurrent)
                    {
                        <span class="dropdown-item active disabled">
                            @language.DisplayName <i class="fa-solid fa-check"></i>
                        </span>
                    }
                    else
                    {

                        <a class="dropdown-item language"
                           href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))">
                            <span>@language.DisplayName</span>
                            <span class="badge bg-secondary-subtle text-secondary border text-uppercase">
                                @language.TwoLetterISOLanguageName
                            </span>
                        </a>

                    }
                </li>
            }
        </ul>
    </div>

}
