@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Acme.ProductSelling.Categories;
@using Volo.Abp.Application.Dtos;
@using Acme.ProductSelling.Web.Pages.Components.Home.Carousel;
@model ListResultDto<CategoryWithManufacturersDto>

<section class="container mt-2">
    <div class="row d-flex align-items-stretch pt-2 h-100">
        <div class="col-lg-3 p-0 d-none d-lg-block bg-light rounded h-100">
            <ul class="list-group category-sidebar-menu border">
                @if (Model != null && Model.Items.Any())
                {
                    foreach (var category in Model.Items)
                    {
                        <li class="list-group-item list-group-item-action category-menu-item has-megamenu" style="padding:0">
                            <a asp-page="/Products/ProductsByCategory" asp-route-slug="@category.CategoryUrlSlug"
                               class="d-flex justify-content-between align-items-center text-decoration-none text-dark">

                                <span>@HelperMethods.GetCategoryLocalizerName(category.CategoryName, L)</span>
                                <i class="bi bi-chevron-right small"></i>
                            </a>
                            <div class="megamenu-data-source d-none">
                                <div class="megamenu-content-wrapper p-3 bg-white border rounded shadow-sm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- First Row: 5 columns -->
                                            <div class="row mb-3 justify-content-around">
                                                <!-- Column 1 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">@L["UI:Brands"]</h5>
                                                        <div class="subcategory-links">
                                                            @foreach (var manufacturer in category.Manufacturers.Take(4))
                                                            {
                                                                <a asp-page="/Products/ProductsByManufacturer"
                                                                   asp-route-categoryUrlSlug="@category.CategoryUrlSlug"
                                                                   asp-route-manufacturerUrlSlug="@manufacturer.UrlSlug">
                                                                    @manufacturer.Name
                                                                </a>
                                                            }
                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 2 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_2</h5>
                                                        <div class="subcategory-links">


                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 3 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_3</h5>
                                                        <div class="subcategory-links">

                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 4 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_4</h5>
                                                        <div class="subcategory-links">


                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 5 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_5</h5>
                                                        <div class="subcategory-links">

                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Second Row: 5 columns -->
                                            <div class="row pt-3 justify-content-around">
                                                <!-- Column 1 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_6</h5>
                                                        <div class="subcategory-links">

                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 2 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_7</h5>
                                                        <div class="subcategory-links">


                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 3 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_8</h5>
                                                        <div class="subcategory-links">


                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 4 -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">CATEGORY_TITLE_9</h5>
                                                        <div class="subcategory-links">

                                                            <a asp-page="/Products/ProductsByCategory" class="fw-bold" asp-route-slug="@category.CategoryUrlSlug">
                                                                <span>@L["SeeAll"]</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Column 5 - Price Ranges -->
                                                <div class="col-md-2-4">
                                                    <div class="subcategory">
                                                        <h5 class="subcategory-title">@L["UI:ByPrice"]</h5>
                                                        <div class="subcategory-links">
                                                            <a asp-page="/Products/ProductsByPrice"
                                                               asp-route-slug="@category.CategoryUrlSlug"
                                                               asp-route-PriceRangeAlias="@L["PriceRange:Under1Million"].Value">
                                                                @L["PriceRange:Under1Million"]
                                                            </a>
                                                            <a asp-page="/Products/ProductsByPrice"
                                                               asp-route-slug="@category.CategoryUrlSlug"
                                                               asp-route-PriceRangeAlias="@L["PriceRange:From1MillionTo5Million"].Value">
                                                                @L["PriceRange:From1MillionTo5Million"]
                                                            </a>
                                                            <a asp-page="/Products/ProductsByPrice"
                                                               asp-route-slug="@category.CategoryUrlSlug"
                                                               asp-route-PriceRangeAlias="@L["PriceRange:From5MillionTo20Million"].Value">
                                                                @L["PriceRange:From5MillionTo20Million"]
                                                            </a>
                                                            <a asp-page="/Products/ProductsByPrice"
                                                               asp-route-slug="@category.CategoryUrlSlug"
                                                               asp-route-PriceRangeAlias="@L["PriceRange:Over20Million"].Value">
                                                                @L["PriceRange:Over20Million"]
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        
        @await Component.InvokeAsync(typeof(CarouselViewComponent))
    </div>
</section>

